@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab";
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px){
  .App{
    width: 640px;
  }
}

@media (max-width: 650px){
  .App{
    width: 90vw;
  }
}

#root{
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App{
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Roboto Slab";
}

.MyButton_default{
  background-color: #ececec;
  color: black;
}

.MyButton_positive{
  background-color: #64c964;
  color: white;
}

.MyButton_negative{
  background-color: #fd565f;
  color: white;
}


/* Header */
header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div{
  display: flex;
}

header .head_text{
  width: 50%;
  font-size: 22px;
  justify-content: center;
}

header .head_btn_left{
  width: 25%;
  justify-content: start;
}

header .head_btn_right{
  width: 25%;
  justify-content: end;
}

header button{
  font-family: "Roboto Slab";
}



/* DiaryList */
.DiaryList .menuWrapper{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menuWrapper .rightCol{
  flex-grow: 1;
}

.DiaryList .menuWrapper .rightCol button{
  width: 100%;
}

.DiaryList .ControlMenu{
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-family: "Roboto Slab";
  font-size: 18px;
}


/* DiaryItem */
.DiaryItem{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .moodImgWrapper{
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .moodImgWrapper_1{
  background-color: #63c964;
}
.DiaryItem .moodImgWrapper_2{
  background-color: #9dd772;
}
.DiaryItem .moodImgWrapper_3{
  background-color: #fdce17;
}
.DiaryItem .moodImgWrapper_4{
  background-color: #fd8446;
}
.DiaryItem .moodImgWrapper_5{
  background-color: #fd565f;
}

.DiaryItem .moodImgWrapper img{
  width: 50%;
}


.DiaryItem .infoWrapper{
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.DiaryItem .diaryDate{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.DiaryItem .diaryContentPreview{
  font-size: 18px;
}

.DiaryItem .btnWrapper{
  min-width: 70px;
}


/* DiaryEditor */
.DiaryEditor{

}

.DiaryEditor section{
  margin-bottom: 40px;
}

.DiaryEditor h4{
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .inputDate{
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Roboto Slab";
  font-size: 16px;
}

.DiaryEditor .moodListWrapper{
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea{
  font-family: "Roboto Slab";
  font-size: 18px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}

.DiaryEditor .controlBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Mood Item */
.MoodItem{
  cursor: pointer;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MoodItem img{
  width: 50%;
  margin-bottom: 10px;
}

.MoodItem span{
  font-size: 14px;
}

.MoodItemOff{
  background-color: #ececec;
}

.MoodItemOn1{
  background-color: #64c964;
  color: white;
}

.MoodItemOn2{
  background-color: #9dd772;
  color: white;
}

.MoodItemOn3{
  background-color: #fdce17;
  color: white;
}

.MoodItemOn4{
  background-color: #fd8446;
  color: white;
}

.MoodItemOn5{
  background-color: #fd565f;
  color: white;
}


/* Diary */
.DiaryPage{

}

.DiaryPage section{
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.DiaryPage h4{
  font-size: 18px;
  font-weight: bold;
}

.DiaryPage .diaryImgWrapper{
  background-color: #ececec;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.DiaryPage .diaryImgWrapper1{
  background-color: #64c964;
  color: white;
}

.DiaryPage .diaryImgWrapper2{
  background-color: #9dd772;
  color: white;
}

.DiaryPage .diaryImgWrapper3{
  background-color: #fdce17;
  color: white;
}

.DiaryPage .diaryImgWrapper4{
  background-color: #fd8446;
  color: white;
}

.DiaryPage .diaryImgWrapper5{
  background-color: #fd565f;
  color: white;
}

.DiaryPage .diaryContentWrapper{
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diaryContentWrapper p{
  padding: 20px;
  text-align: left;
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 400;
  line-height: 2.0;
}


